# _____                              _______________________________
# ____/ TELEMAC Project Definitions /______________________________/
#
#    space delimited list of active configurations
#
[Configurations]
configs:   reos_ubuntu
#
# _____          ___________________________________________________
# ____/ GENERAL /__________________________________________________/
[general]
modules:    system
#
cmd_lib:    ar cru <libname> <objs>
#
mods_all:   -I <config>
#
sfx_zip:    .gztar
sfx_lib:    .a
sfx_obj:    .o
sfx_mod:    .mod
sfx_exe:
#
val_root:   <root>/examples
val_rank:   all
# also possible val_rank:   <3 >7 6
cmd_obj_c: gcc -c <srcName> -o <objName>
#
# _____                         ____________________________________
# ____/ Ubuntu gfortran mpich2 /___________________________________/
[reos_ubuntu]
#
brief: parallel mode, using mpiexec directly (of the MPICH2 package).
       The only difference with the scalar versions (debugged) is the presence
       of the key mpi_cmdexec and the -DHAVE_MPI compilation directive.
       Of course, you also need the key par_cmdexec.
       Finally, note that this configuration also works whether
       processor is 0 or 1.
#
options: hermes_only
#
f2py_name: f2py3
pyd_fcompiler: gfortran
#
mpi_cmdexec:   /usr/bin/mpiexec -wdir <wdir> -n <ncsize> <exename>
#
#cmd_obj:    gfortran -c -cpp -g -fbounds-check -Wall -fbacktrace -finit-real=nan -DHAVE_MPI -fconvert=big-endian -frecord-marker=4 <mods> <incs> <f95name>
#cmd_exe:    /usr/bin/mpif90 -fconvert=big-endian -frecord-marker=4 -v -lm -o <exename> <objs>  <libs>
#
cmd_obj:    mpif90 -c -g -cpp -DHAVE_MPI -fconvert=big-endian -frecord-marker=4 <mods> <incs> <f95name>
cmd_exe:    mpif90 -fconvert=big-endian -frecord-marker=4  -lm -o <exename> <objs>  <libs>
#
#incs_all:  -I /usr/lib/x86_64-linux-gnu/mpich/include/ 
incs_all: 
libs_all:   ${TELEMAC_DIR}/metis/lib/libmetis.a
# _____                     ________________________________________
# ____/ End of Definitions /_______________________________________/
